.textSection {
	margin: 3em auto;
	background-image: url('./nothing.png');
}

.textSection:first-child {
	margin-top: 0;
}

.centered {
	text-align: left;
}

p,
label {
	font-family: Georgia, Times, 'Times New Roman', serif;
	line-height: 1.5em;
}

.usernameForm {
	margin-bottom: 1em;
}

.input {
	outline: none;
	border-bottom: 1px dotted #999;
}

.atPrefix {
	color: black;
	margin-left: 0.4em;
}